.smallItens {
  font-size: 14px;
  --min-height: 0;
  ion-label {
    margin: 1vh 1vh;
  }
}

span {
  font-weight: bold;
}

.botaoFecharScanner {
  margin: 0 !important;
  position: absolute !important;
  bottom: 5% !important;
  left: 50% !important;
  margin-right: -50% !important;
  transform: translate(-50%, -50%) !important;
}
