@font-face {
  font-family: 'Uniwars Rg Bold';
  src: url('/assets/fonts/UniwarsRg-Bold.eot');
  src: url('/assets/fonts/UniwarsRg-Bold.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/UniwarsRg-Bold.woff2') format('woff2'), url('/assets/fonts/UniwarsRg-Bold.woff') format('woff'), url('/assets/fonts/UniwarsRg-Bold.ttf') format('truetype'), url('/assets/fonts/UniwarsRg-Bold.svg#UniwarsRg-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

ion-title {
  font-family: 'Uniwars Rg Bold';
}

.titleLabel {
  color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.54);
  font-size: 0.9rem;
  margin-right: 10px;
}
ion-item {
  ion-icon {
    height: 50%;
    color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.54);
  }
}
ion-col {
  padding: 0%;
  margin: 0%;
  ion-card {
    padding: 1%;
    margin: 3%;
    max-height: 17vh;
    .flag_new {
      position: absolute;
      top: 5%;
      right: 5%;
    }
    p {
      text-align: center;
      margin-top: 5px;
    }
    ion-icon {
      display: block;
      margin: auto;
      font-size: 12vh;
      width: 40%;
      text-align: center;
    }
  }

  .disabled {
    opacity: 0.5;
  }
}

// style="background-color: #ecf0f1"
