<ion-header>
  <ion-toolbar>
    <ion-title class="ion-no-padding">Escolha o tipo de lavagem</ion-title>
  </ion-toolbar>
</ion-header>

<ion-list data-cy="list-type-washed-service">
  <ion-item
    *ngFor="let item of typeServices; index as i"
    (click)="selectTypeService(item.Id)"
    button="true"
    [ngClass]="{ selected: service.ServiceId == item?.Id }"
    [attr.data-cy]="'item-type-washed-' + i"
  >
    <ion-label>{{ item.Label }}</ion-label>
  </ion-item>
  <ion-label *ngIf="typeServices.length == 0">Lista vazia</ion-label>
  <ion-button *ngIf="!typeServices.length" fill="outline" (click)="ngAfterViewInit()" class="centralizeTotal">Recarregar Listagem</ion-button>
</ion-list>
